.login-page[data-v-3e3c9330]{display:flex;justify-content:center;align-items:center;min-height:100vh}.form[data-v-3e3c9330]{width:320px}.form h2[data-v-3e3c9330]{margin-bottom:8px}.form p[data-v-3e3c9330]{color:#666;margin-bottom:16px}
